.signup-container {
  max-width: 800px;
  margin: 40px auto;
  font-family: var(--font-family);
}

.title {
  text-align: center;
  color: var(--color-primary);
  font-size: 48px;
  margin-bottom: 40px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 40px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 500;
  margin-bottom: 8px;
  color: var(--color-text-primary);
}

input {
  padding: 12px 16px;
  border: 1px solid var(--color-neutral-light-gray);
  border-radius: 8px;
  outline: none;
  transition: border-color 0.2s;
}

.error-border {
  border-color: #ff4d4d !important;
}

.error-text {
  color: #ff4d4d;
  font-size: 11px;
  margin-top: 4px;
  height: 15px; 
  transition: opacity 0.2s;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-wrapper input { width: 100%; }

.suffix-icon {
  position: absolute;
  right: 12px;
  cursor: pointer;
  color: #666;
  font-size: 20px;
}

.actions {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}


.footer-text {
  margin-top: 25px;
  font-size: var(--font-size-placeholder);
  color: var(--color-neutral-dark-gray);

  a {
    color: var(--color-primary);
    font-weight: var(--font-weight-medium);
    text-decoration: none;
  }
}

app-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
  background-color: rgba(0, 0, 0, 0.5); 
}

@keyframes popIn {
  0% { transform: scale(0.7); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}