<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<div class="reset-container">
  <div class="form-card">
    <h1 class="brand-logo">Reset Password</h1>
    <p class="subtitle">Please enter your new password below.</p>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>New Password</label>
        <div class="input-wrapper">
          <input
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            placeholder="Enter new password"
            [class.error-border]="isInvalid('password')"
          />
          <span
            class="material-symbols-outlined suffix-icon"
            (click)="showPassword = !showPassword"
          >
            {{ showPassword ? 'visibility' : 'visibility_off' }}
          </span>
        </div>
        @if (isInvalid('password')) {
        <span class="error-text">Password must be at least 6 characters.</span>
        } @else { <span class="error-spacer"></span> }
      </div>

      <div class="form-group">
        <label>Confirm New Password</label>
        <div class="input-wrapper">
          <input
            [type]="showConfirmPassword ? 'text' : 'password'"
            formControlName="confirmPassword"
            placeholder="Confirm new password"
            [class.error-border]="
              isInvalid('confirmPassword') || resetForm.hasError('passwordMismatch')
            "
          />
          <span
            class="material-symbols-outlined suffix-icon"
            (click)="showConfirmPassword = !showConfirmPassword"
          >
            {{ showConfirmPassword ? 'visibility' : 'visibility_off' }}
          </span>
        </div>
        @if (resetForm.hasError('passwordMismatch') && resetForm.get('confirmPassword')?.touched) {
        <span class="error-text">Passwords do not match.</span>
        } @else { <span class="error-spacer"></span> }
      </div>

      <div class="button-container">
        <app-button width="300px" variant="filled" class="submit-btn" type="submit">
          Save New Password
        </app-button>
      </div>
    </form>
  </div>
</div>
@if (showModal) {
  <app-modal
    class="cd-modal show"
    [title]="modalConfig.title"
    [message]="modalConfig.message"
    [buttonText]="modalConfig.buttonText"
    (action)="onCdModalAction()"
  >
  </app-modal>
}
