:host {
  display: flex;
}

.reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  width: 100%;
  font-family: var(--font-family);

}

.form-card {
  width: 100%;
  max-width: 450px;
  padding: 40px;
}

.brand-logo {
  color: var(--color-primary);
  font-size: 36px;
  text-align: center;
  margin-bottom: 8px;
}

.subtitle {
  text-align: center;
  color: var(--color-neutral-dark-gray);
  margin-bottom: 32px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 12px;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-wrapper input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid var(--color-neutral-light-gray);
  border-radius: 12px;
  outline: none;
}

.suffix-icon {
  position: absolute;
  right: 12px;
  cursor: pointer;
  color: #666;
}

.error-border { border-color: #ff4d4d !important; }
.error-text { color: #ff4d4d; font-size: 12px; }
.error-spacer { height: 18px; }

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

app-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
  background-color: rgba(0, 0, 0, 0.5); 
}

@keyframes popIn {
  0% { transform: scale(0.7); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}