<app-modal-container [showTitleBar] = false>
      <div class="time">
            <img src="clock-primary.svg" alt="" class="icon">
            <p class="start-time">{{ ride.startTime | date: 'd MMM yyyy h:mm a' }}</p>

            <div class="dots">
                  <div class="dot"></div>
                  <div class="dot"></div>
                  <div class="dot"></div>
                  <div class="dot"></div>
                  <div class="dot"></div>
            </div>
            <div class="separator"></div>
            
            <img src="clock-primary.svg" alt="" class="icon">
            <p class="end-time">{{ ride.endTime | date: 'd MMM yyyy h:mm a' }}</p>
      </div>

      <app-route-table [waypoints]="ride.waypoints"></app-route-table>

      <div class="stats">
            <div class="distance">{{ ride.travelDistance + 'km' }}</div>
            @if (ride.panicActivated) {<img src="warning_60dp_FFFFFF_FILL0_wght400_GRAD0_opsz48.svg" alt="" class="panic icon">}
            @if (ride.canceledBy !== null) {
                  @if (ride.canceledBy !== ride.driver.email) {<img src="cancel-surface.svg" alt="" class="user-canceled icon">}
                  @if (ride.canceledBy === ride.driver.email) {<img src="cancel-surface.svg" alt="" class="driver-canceled icon">}
            }
      </div>

      @if (user.role == 'driver' || user.role === 'admin') {
            <div class="section">
                  <div class="section-title"> Passengers</div>
                  <div class="profile-list">
                        <app-profile-card [user]="ride.passengers[0]" icon="ordering-customer-primary-text.svg"></app-profile-card>
                        @for (passenger of ride.passengers.slice(1, ride.passengers.length); track passenger.email) {
                              <app-profile-card [user]="passenger"></app-profile-card>
                        }
                  </div>
            </div>
      }
      @if (user.role === 'registered-user' || user.role === 'admin') {
            <div class="section">
                  <div class="section-title"> Driver</div>
                  <app-profile-card [user]="ride.driver" icon="review-primary-text.svg"></app-profile-card>
            </div>
            <div class="section">
                  <div class="section-title"> Vehicle</div>
                  <app-vehicle-card [vehicle]="ride.vehicle"></app-vehicle-card>
            </div>
      }

      <app-stat-card [value]="'$' + ride.price" label="Final price" variant="dark"></app-stat-card>
      @if (user.email === ride.passengers[0].email) {<app-button width="290px">Reorder ride</app-button>}
</app-modal-container>
