<app-modal-container [showTitleBar] = false>
      <div class="time">
            <img src="clock-primary.svg" alt="" class="icon">
            <p class="start-time">{{ ride.start | date: 'd MMM yyyy h:mm a' }}</p>

            <div class="dots">
                  <div class="dot"></div>
                  <div class="dot"></div>
                  <div class="dot"></div>
                  <div class="dot"></div>
                  <div class="dot"></div>
            </div>
            <div class="separator"></div>
            
            <img src="clock-primary.svg" alt="" class="icon">
            <p class="end-time">{{ ride.end | date: 'd MMM yyyy h:mm a' }}</p>
      </div>

      <app-route-table [waypoints]="ride.waypoints"></app-route-table>

      <div class="stats">
            <div class="distance">{{ ride.distance + 'km' }}</div>
            @if (ride.panic) {<img src="warning_60dp_FFFFFF_FILL0_wght400_GRAD0_opsz48.svg" alt="" class="panic icon">}
            @if (ride.canceledBy !== null) {
                  @if (ride.canceledBy !== ride.driver.id) {<img src="cancel-surface.svg" alt="" class="user-canceled icon">}
                  @if (ride.canceledBy === ride.driver.id) {<img src="cancel-surface.svg" alt="" class="driver-canceled icon">}
            }
      </div>

      @if ((user.role == 'DRIVER' || user.role === 'ADMIN') && ride.passengers && ride.passengers.length > 0) {
            <div class="section">
                  <div class="section-title"> Passengers</div>
                  <div class="profile-list">
                        @for (passenger of ride.passengers; track passenger.email) {
                              <app-profile-card [user]="passenger" [icon]="ride.createdBy == passenger.id ? 'ordering-customer-primary-text.svg' : ''"></app-profile-card>
                        }
                  </div>
            </div>
      }
      @if (user.role === 'REGISTERED_USER' || user.role === 'ADMIN') {
            <div class="section">
                  <div class="section-title"> Driver</div>
                  <app-profile-card [user]="ride.driver" icon="review-primary-text.svg" (onAction)="onOpenReview(ride.id)"></app-profile-card>
            </div>
            <div class="section">
                  <div class="section-title"> Vehicle</div>
                  <app-vehicle-card [driverId]="ride.driver.id"></app-vehicle-card>
            </div>
      }

      <app-stat-card [value]="'$' + ride.price" label="Final price" variant="dark"></app-stat-card>
      @if (ride.passengers.length > 0 && user.id === ride.passengers[0].id) {<app-button width="290px">Reorder ride</app-button>}
</app-modal-container>
