
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 30px 40px;
  font-family: var(--font-family);
}

.brand-logo {
  color: var(--color-primary);
  font-size: 40px;
  text-align: center;
  margin-bottom: 8px;
}

.subtitle {
  text-align: center;
  color: var(--color-neutral-dark-gray);
  font-size: 14px;
  margin-bottom: 32px;
  line-height: 1.5;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

label {
  font-weight: 500;
  color: var(--color-text-primary);
}

.input-wrapper input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid var(--color-neutral-light-gray);
  border-radius: var(--border-radius-buttons-small);
  font-size: var(--font-size-placeholder);
  outline: none;
  transition: border-color 0.2s;
}

.input-wrapper input:focus {
  border-color: var(--color-primary);
}

.error-border {
  border-color: #ff4d4d !important;
}

.error-text {
  color: #ff4d4d;
  font-size: 12px;
  margin-top: -4px;
}

.error-spacer {
  height: 18px;
}


.footer-link-container {
  text-align: center;
  margin-top: 24px;
color: var(--color-neutral-dark-gray);

}

.back-link {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}

app-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
  background-color: rgba(0, 0, 0, 0.5); 
}

@keyframes popIn {
  0% { transform: scale(0.7); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
