.modal{
  width: 360px;
  height: 200px;
  background: var(--color-surface);
  border-radius: var(--border-radius-icons);
  padding: 40px 34px;
  box-shadow: var(--drop-shadow);
  font-family: var(--font-family);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.title{
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-medium);
}

.msg{
  font-size: var(--font-size-small);
  color: var(--color-neutral-dark-gray);
  margin-bottom: auto;
}