<div class="screen">
  <app-map class="map"></app-map>

  <div class="overlay">
    @if (cdModalOpen) {
      <app-modal class="cd-modal"
        title="Choose a destination"
        message="Please select a valid destination"
        buttonText="Continue"
        (action)="onCdModalAction()">
      </app-modal>
    }

    <app-icon-button class="position-menu"
      iconUrl="side_navigation_60dp_000000_FILL0_wght400_GRAD0_opsz48.svg"
      (click)="openMenu()">
    </app-icon-button>

    @if (toastOpen) {
      <app-toast [title]="toastTitle" [message]="toastMessage"></app-toast>
    }


    <app-side-menu
      [open]="menuOpen"
      title="Account"
      role="registered"
      [user]="user"
      (closed)="closeMenu()"
      (action)="handleMenuAction($event)">
    </app-side-menu>
  </div>
</div>
