<div class="screen">
  <app-map class="map"></app-map>

  <div class="overlay">
    @if (cdModalOpen) {
      <app-modal class="cd-modal show"
        title="Choose a destination"
        message="Please select a valid destination"
        buttonText="Continue"
        (action)="onCdModalAction()">
      </app-modal>
    }

    <app-icon-button class="menu-button"
      iconUrl="side_navigation_60dp_000000_FILL0_wght400_GRAD0_opsz48.svg"
      (click)="openMenu()">
    </app-icon-button>

    <app-icon-button class="chat-button"
      iconUrl="chat_60dp_000000_FILL0_wght400_GRAD0_opsz48.svg"
      (click)="openChat()">
    </app-icon-button>

    @if (toastOpen) {
      <app-toast [title]="toastTitle" [message]="toastMessage"></app-toast>
    }

    <app-side-menu
      [open]="menuOpen"
      title="Account"
      role="registered"
      [user]="user"
      (closed)="closeMenu()"
      (action)="handleMenuAction($event)">
    </app-side-menu>

    <app-sheet
      [open]="accountSettingsOpen"
      title="Account settings"
      (closed)="closeAllSidePanels()"
      (back)="onAccountSettingsBack()"
      >

      <ng-content></ng-content>

      <div sheetFooter>
        <app-button (clicked)="saveAccountSettings()">Save</app-button>
        <app-button variant="outlined"
                    (clicked)="accountSettingsOpen=false">
          Cancel
        </app-button>
      </div>
    </app-sheet>

    <!-- EXAMPLE OF RIDE CARD USE -->
    <!-- <app-ride-card [selected]="selectedRide === 1" [iconUrl]="favoriteRides.includes(1) ? 'http://localhost:4200/favorite-red.svg' : 'http://localhost:4200/favorite-grey.svg'" (select)="onRideSelected($event)" (action)="onRideAction($event)"></app-ride-card> -->
  </div>
</div>
