.screen {
  position: relative;
  height: 100vh; 
}

.map {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 2000;
  pointer-events: none;
}

.position-menu {
  position: fixed;
  top: 16px;
  left: 16px;
}

.cd-modal {
  pointer-events: auto;
  bottom: 16px;
  right: 16px;
  position: fixed;
}

