.btn {
  cursor: pointer;
  font: var(--font-size-regular) var(--font-family);
  font-weight: var(--font-weight-medium);
  padding: var(--padding-regular);
  border-radius: var(--border-radius-buttons-small);
}

.btn[disabled] {
  cursor: not-allowed;
}

.btn.filled {
  background-color: var(--color-primary-dark);
  color: var(--color-surface);
  border: 1px solid var(--color-primary-dark);
}

.btn.outlined {
  background-color: var(--color-surface);
  color: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);
}

.btn.shadow {
  box-shadow: var(--drop-shadow);
}
