:host .list, :host .options {
  bottom: 0px;
  width: 360px;
  height: 70vh;
  position: fixed;
  transition: transform 0.3s ease;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: var(--border-radius-icons);
  border-bottom-left-radius: 0px; 
  border-bottom-right-radius: 0px;
  font-family: var(--font-family);
  transform: translateY(100%);
  padding-bottom: calc();
}

:host .list {
  left: 16px;
  box-shadow: var(--drop-shadow);
  --modal-height: 100%
}

:host .options {
  left: 392px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

:host .options .sort, :host .options .details {
  border-radius: var(--border-radius-icons);
  overflow: hidden;
  box-shadow: var(--drop-shadow);
}

:host .sort {
  flex-shrink: 0;
}

:host .sort .selectedField {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

:host .sort .drop-down {
  width: 46px;
  height: 37px;
  background-color: var(--color-primary-light);
  border-radius: var(--border-radius-buttons-small);
  position: absolute;
  right: 47px;
  bottom: 3.5px;
  cursor: pointer;
}

:host .sort .sort-direction {
  width: 46px;
  aspect-ratio: 1/1;
  cursor: pointer;
}

:host .sort .fieldSelection {
  border: 1px solid var(--color-neutral-light-gray);
  border-radius: 16px;
  padding: 14px;
  font-size: var(--font-size-placeholder);
  color: var(--color-neutral-dark-gray);
  display: flex;
  flex-direction: column;
  gap: 8px;
  animation: shrink 0.2s ease forwards;
}

:host .sort .fieldSelection .field:hover {
  cursor: pointer;
}

:host .options .details {
  border-bottom-left-radius: 0px; 
  border-bottom-right-radius: 0px;
  animation: slideUp 0.3s ease forwards;
}

input{
  width:100%; height:44px; padding:0 14px;
  border:1px solid var(--color-neutral-light-gray); border-radius:12px; box-sizing:border-box;
  outline:none; font-size:14px; background:#fff;
}

:host .list.move-up, :host .options.move-up {
  /* transform: translateY(var(--padding-modal)); */
  transform: translateY(0);
}

.flip {
  transform: rotate(180deg);
}

@keyframes shrink {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: auto;
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}