<app-modal-container class="list" [class.move-up]="open" (backPressed)="onBack()" [title]="title" (onScrollContent)="onScroll($event)">
      @for (ride of rides; track ride.id) {
        <app-ride-card [selected]="detailsOpen() && selectedRide().id === ride.id" [ride]="ride" [iconUrl]="ride.favorite ? 'favorite-red.svg' : 'favorite-grey.svg'" (select)="onRideSelected($event)" (action)="onRideAction($event)"></app-ride-card>
      }
</app-modal-container>

<div class="options" [class.move-up]="open">
  <div class="sort">
    <app-modal-container [showTitleBar] = false>
        <input type="datetime-local" placeholder="Date created" (input)="onSelectDate($event)">
        @if (user().role === 'ADMIN') {
          <input type="text" placeholder="User" [value]="filterUser()" (input)="onInputFilter($event)">
          @if (userList().length > 1) {
          <div class="fieldSelection">
              @for (user of userList(); track user.id) {
                <div class="field" (click)="onInputUser($event, user.id)">{{ user.name + ' ' + user.surname }}</div>
              }
          </div>
          }
        }
         <div class="selectedField">
           <input readonly placeholder="Sort by" [value]="selectedField">
           <img [class.flip]="sortOpen" src="arrow-down-surface.svg" alt="" class="drop-down" (click)="onToggleSort()">
           <img [class.flip]="query.ascending" src="sort-direction-primary-text.svg" alt="" class="sort-direction" (click)="onToggleSortDirection()">
         </div>
         @if (sortOpen) {
          <div class="fieldSelection">
                <div class="field" (click)="onSelectField($event, 'start')">Start time</div>
                <div class="field" (click)="onSelectField($event, 'end')">End time</div>
                <div class="field" (click)="onSelectField($event, 'price')">Price</div>
                <div class="field" (click)="onSelectField($event, 'distance')">Distance</div>
                <div class="field" (click)="onSelectField($event, 'waypoints')">Locations</div>
                <div class="field" (click)="onSelectField($event, 'driver')">Driver</div>
                <div class="field" (click)="onSelectField($event, 'passengers')">Passengers</div>
                <div class="field" (click)="onSelectField($event, 'createdBy')">Customer</div>
          </div>
          }
    </app-modal-container>
  </div>
  @if (detailsOpen()) {
    <app-ride-details class="details" [ride]="selectedRide()" [user]="user()"></app-ride-details>
  }
</div>
