<app-modal-container class="list" [class.move-up]="open" (backPressed)="onBack()" [title]="title">
      @for (ride of rides; track ride.rideId) {
        <app-ride-card [selected]="!(selectedRide === undefined) && selectedRide.id === ride.rideId" [ride]="ride" [iconUrl]="ride.favorite ? 'favorite-red.svg' : 'favorite-grey.svg'" (select)="onRideSelected($event)" (action)="onRideAction($event)"></app-ride-card>
      }
</app-modal-container>

<div class="options" [class.move-up]="open">
  <div class="sort">
    <app-modal-container [showTitleBar] = false>
        <input type="datetime-local" placeholder="Date created" [(ngModel)]="filterDate">
        @if (user.role === 'ADMIN') {<input type="text" placeholder="Driver" [(ngModel)]="filterDriver">}
         <div class="selectedField">
           <input readonly placeholder="Sort by" [value]="selectedField">
           <img [class.flip]="sortOpen" src="arrow-down-surface.svg" alt="" class="drop-down" (click)="onToggleSort()">
           <img [class.flip]="ascending" src="sort-direction-primary-text.svg" alt="" class="sort-direction" (click)="onToggleSortDirection()">
         </div>
         @if (sortOpen) {
          <div class="fieldSelection">
              @for (field of rides[0] | keyvalue; track field.key) {
                <div class="field" (click)="onSelectField(field.key)">{{ field.key.charAt(0).toUpperCase() + field.key.slice(1) }}</div>
              }
          </div>
          }
    </app-modal-container>
  </div>
  @if (selectedRide != undefined) {
    <app-ride-details class="details" [ride]="selectedRide" [user]="user"></app-ride-details>
  }
</div>
